<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
	if( true === {{data}})
	{
        alert('wrong detail');
	}
</script>
<style>
body {font-family: Arial, Helvetica, sans-serif;
margin: 0;
}
.box{border: 3px solid #f1f1f1; }
footer {
  text-align: center;
  padding: 3px;
  color:white;
  background-color: gray;
}
header {
  text-align: center;
  padding: 2px;
  background-color:lightgray;
  font-weight: bold;
  margin-top:1px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 7px;
}
button:hover {
  opacity: 0.8;
}
.container {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
</style>
</head>
<body style = "text-align:center">
	  <header>
          	<h2>FoodOrderManagement</h2>
          </header>
<h3>&#128373Admin dashboard</h3>
  <div class="container">
 <div class="box">
    <a href="/createemployee">
        <button type="button">Create employee account</button>
      </a>
      <a href="/removeemployee">
        <button type="button">Remove employee account</button>
      </a>
      <a href="/removeuser">
        <button type="button">Remove user account</button>
      </a>
      <a href="/upload">
        <button type="button">Add food  </button>
      </a>
      <a href="/foodremove">
        <button type="button">Remove food  </button>
      </a>
      <a href="/updateadmin">
        <button type="button">Change Admin password or name</button>
      </a>
      <a href="/panel">
        <button type="button">Main Panel</button>
      </a>
      </div>
</div>
    <footer>
          	<p >"FooD is necessary"</p>
     <footer>
</body>
</html>

