<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
    let cart = {{{json cart}}};

    function cartdata()                                                   {                                                                         if(cart.length === 0 )                                                {                                                                     para = document. createElement("p");                                  para.innerHTML = "<h1>"+"Your cart is empty"+"</h1>";                 document.getElementById("group").appendChild(para);                   document.getElementById("box1").style.visibility = "hidden";          }
        else
        fooditems();                                                      }
	
   function fooditems()
   {
   let typeinfo = null;
   for( var i=0;i<cart.length;i++)
   {
    switch(cart[i].type) {
    case 'veg':
    typeinfo = 'veg';
    break;
    case 'nonveg':
    typeinfo = 'nonveg';
    break;
    case 'drink':
    typeinfo = 'drink';
    break;
    case 'desserts':
    typeinfo = 'desserts';
    break;
     }
	
    let newDiv1 = document.createElement("div");
    newDiv1.setAttribute("class","box");
    let para1 = document. createElement("p");
    para1.innerHTML = "Food :- "+cart[i].name;
    let para2 = document. createElement("p");
    para2.innerHTML = "Price :- "+"&#8377; "+cart[i].price;
    let para3 = document. createElement("p");
    para3.innerHTML = "Quantity :- "+cart[i].quantity;
    let para4 = document. createElement("p");                             para4.innerHTML = "Food type :- " +cart[i].type;
    let para5 = document. createElement("p");
    para5.innerHTML = "To :- " +cart[i].username;
    let newinput1 = document.createElement("INPUT");
    newinput1.setAttribute("type", "hidden");
    newinput1.setAttribute("value", cart[i].name);
    newinput1.setAttribute("name","name");
    let newinput2 = document.createElement("INPUT");                      newinput2.setAttribute("type", "hidden");                             newinput2.setAttribute("value", cart[i].email);
    newinput2.setAttribute("name","quantity");
    let newinput3 = document.createElement("INPUT");                      newinput3.setAttribute("type", "hidden");                             newinput3.setAttribute("value", cart[i].quantity);
    newinput3.setAttribute("name","email");
    let btn = document.createElement("button");
    btn.setAttribute("value",i);
    btn.setAttribute("onclick","remove(this);")
    btn.innerHTML = "Remove item";

    document.getElementById("group").appendChild(newDiv1); 
    newDiv1.appendChild(para1); 
    newDiv1.appendChild(para2); 
    newDiv1.appendChild(para3);
    newDiv1.appendChild(para4);
    newDiv1.appendChild(para5);
    newDiv1.appendChild(newinput1); 
    newDiv1.appendChild(newinput2);
    newDiv1.appendChild(newinput3);
    newDiv1.appendChild(btn);
    }
    }

    function remove(bt)
    {
    i = bt.value;
    email = cart[parseInt(i)].email;
    name = cart[parseInt(i)].name;
    quantity = cart[parseInt(i)].quantity;
    let removedata = {email:email,name:name,quantity:quantity};
    const options = {method: 'POST',headers: {'Content-Type': 'application/json'},body: JSON.stringify(removedata)};
    fetch('/remove', options).then((tempdata)=>{ return tempdata.json();
    }).then((data)=> {
    cart = data ;
    document.querySelectorAll('.box').forEach(function(a){       
    a.remove()                                                            })
    cartdata();
    });
    }

   function placeorder()
   {
   if(! document.getElementById('address').value.replace(/\s/g, '').length)
   {
   alert("Please enter your shipping address");
   }
   else
   { 
   document.getElementById('useremail').value = cart[0].email;
   document.order.submit();
   }
   }
    
</script>
<style>
body {font-family: Arial, Helvetica, sans-serif;
margin: 0;
background-color:#f2f0f0;
}
.container{
background-color:white; 
height:auto;
padding-top: 6px;
margin-bottom: 60px;
padding-bottom:60px;
}
.group
{
width:50%;
height:auto;
border: 3px solid blue;
margin: auto;
background-color: lightyellow;
}
.box
{
width:300px;
height:300px;
border: 3px solid black;
margin-left: auto;
margin-right:auto;
margin-top:5px;
margin-bottom:5px;
}
.box1
{
	width:350px;
	margin:auto;
	height:250px;
	border: 3px solid black;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  width: 100px;
}
footer {
  text-align: center;
  padding: 3px;
  color:white;
  background-color: gray;
}
header {
  text-align: center;
  padding: 3px;
  background-color:black;
  font-weight: bold;
  margin-top:0px;
  color:white;
}
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #2196F3;
  color: white;
}
.topnav .search-container {
  float: right;
}
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: green;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
  .group
  {
  width:350px;
  }
}

#placeorder
{
  background-color: gray;
  color: white;
  margin-top:17px;
  border:none;
  width: 80%;
  height:50px;
}
#address
{
  margin-top:17px;
  border: solid black;
  width: 80%;
  height:150px;
}
</style>
</head>
<body style = "text-align:center" onload="cartdata()">
	  <header>
          	<h2>FoodOrderManagement</h2>
          </header>
          <div class="topnav">
  <a href="/home">Home</a>
  <a href="/logout">Logout</a>
  <a href="/chatbot">Chatbot</a>
  <a href="/profile">Profile</a>
  <a class="active" href="/cart">Cart</a>
  <div class="search-container">
    <form action="/search" method="post">
      <input type="text" placeholder="Search.." name="search">
      <button  type="submit">Submit</button>
    </form>
  </div>
</div>
<h3>&#128373Welcome to cart</h3>
  <div class="container"> 
       <h1>Your cart</h1>
  	<div class="group" id="group">
</div>
<div class="box1" id="box1" >
<form name="order" id="order" action="/placeorder" method="post">
<input type="hidden" id="useremail" name="email">
</form>

<textarea name="address" id="address" placeholder="Enter your shipping address" form="order"></textarea>
<input id="placeorder" type="button" value="Place order" onclick="placeorder()">
</div>
    </div>
    <footer>
          	<p >"FooD is necessary"</p>
     <footer>
</body>
</html>
