<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
	let alldata = {{{json fooddata}}};
	let userdata = {{{json userdata}}};
function focus()
{
var chat = document.getElementById("chat");
chat.scrollTop = chat.scrollHeight;
}
function search(msg,option)
{
    if(option == "name")
	    {
		for( i in alldata )
	    {
	    if( msg.includes(alldata[i].name) == 1)
	    return alldata[i].name;
	     }
	     return false;
         }
	else if (option == "type")
	    {
		for( i in alldata )
	    {
	    if(msg.includes(alldata[i].name) == 1)
	    return alldata[i].type;
	     }
	     return false;
         }
   else  if (option == "price")
	    {
	    for( i in alldata )
	    {
	    if(msg.includes(alldata[i].name) ==1)
	    return alldata[i].price;
	    }
	    return false;
	    }
  return false;
}
function reply(msg)
{
  let newdiv = document.createElement("DIV");
  newdiv.setAttribute("class","leftbox");
  if(/your name/i.test(msg)  &&  !(/change/i.test(msg) || /remove/i.test(msg) ))
  {
  newdiv.innerHTML = "Chatbot" ;
  document.getElementById("chat").appendChild(newdiv);
  }
  else if(/hello/i.test(msg))
  {
  newdiv.innerHTML = "How are you" ;
  document.getElementById("chat").appendChild(newdiv);
  }
  else if(/fine/i.test(msg))
  {
  newdiv.innerHTML = "okay" ;
  document.getElementById("chat").appendChild(newdiv);
  }
  else if((/my name/i.test(msg) || /my username/i.test(msg)) && !(/change/i.test(msg) || /remove/i.test(msg)))
  {
  newdiv.innerHTML = userdata.username;
  document.getElementById("chat").appendChild(newdiv);
  }
  else if(/email/i.test(msg) && !(/change/i.test(msg) || /remove/i.test(msg)))
  {
  newdiv.innerHTML = "Your email address is " + userdata.email;
  document.getElementById("chat").appendChild(newdiv);
  }
  else if( /Price/i.test(msg) === true && search(msg,"price") != false )
  {
  newdiv.innerHTML = search(msg,"price") +" &#8377";
  document.getElementById("chat").appendChild(newdiv);
  }
  else if(/help/i.test(msg))
  {
		  newdiv.innerHTML = "Your can ask food related query with chatbot for example <br> What is the price of Chai <br>list of veg foods <br> Tea is drink or not <br> Tea available <br> 2+7*9 etc.<br>Note Food names are case sentitive so Tea and tea are different ";
  document.getElementById("chat").appendChild(newdiv);
  }
  else if(/order/i.test(msg))
  {
  newdiv.innerHTML = "Process to place order:-<br>Step 1 - Go to Menu bar <br> Step 2 - Choose food item and press view button <br> Step 3 - Select Food quantity <br> Step 4 - Press Add to cart button <br> Step 4 - Go to Cart <br> Step 5 - Input your address and press Place order button ";
  document.getElementById("chat").appendChild(newdiv);
  }
  else if(/available/i.test(msg) && ! (/food/i.test(msg)))
  {
  if(search(msg,"name") != false)
  newdiv.innerHTML = "Food is available";
  else
  newdiv.innerHTML = "Food is not available";
  document.getElementById("chat").appendChild(newdiv);
  }
  else if(/(veg|drink|dessert|nonveg)/i.test(msg) && !(/food/i.test(msg)))
  {   if(/veg/i.test(msg))
      {   
	  if(search(msg,"name")!= false)
          {
               if(search(msg,"type") == "veg")
               {
               newdiv.innerHTML = "Yes";
               document.getElementById("chat").appendChild(newdiv);
               }
               else
               {
               newdiv.innerHTML = "No";
               document.getElementById("chat").appendChild(newdiv);
               }
          }
	  else
	  {
	       newdiv.innerHTML = "I don't know";
               document.getElementById("chat").appendChild(newdiv);	  
	  }
      }
      else if(/nonveg/i.test(msg))
      {
          if(search(msg,"name")!= false)
	  {  
              if(search(msg,"type") == "nonveg")
	      {
	      newdiv.innerHTML = "Yes";
	      document.getElementById("chat").appendChild(newdiv);
	      }
	      else
              {
	      newdiv.innerHTML = "No";
	      document.getElementById("chat").appendChild(newdiv);
	      }
	  } 
          else
          {
              newdiv.innerHTML = "I don't know";
	      document.getElementById("chat").appendChild(newdiv);
          }
      }
      else if(/drink/i.test(msg) )
      {
	  if(search(msg,"name")!= false)
	  {
	      if(search(msg,"type") == "drink")
	      {
	      newdiv.innerHTML = "Yes";
	      document.getElementById("chat").appendChild(newdiv);
	      }
	      else
              {
	      newdiv.innerHTML = "No";
	      document.getElementById("chat").appendChild(newdiv);
	      }
	  }
	  else
          {
              newdiv.innerHTML = "I don't know";
	      document.getElementById("chat").appendChild(newdiv);
          }
      }
      else if(/dessert/i.test(msg) )
      {
	  if(search(msg,"name")!= false)
	  {
	      if(search(msg,"type") == "desserts")
	      {
	      newdiv.innerHTML = "Yes";
	      document.getElementById("chat").appendChild(newdiv);
	      }
	      else
              {
	      newdiv.innerHTML = "No";
	      document.getElementById("chat").appendChild(newdiv);
	      }
	  }
	  else
          {
          newdiv.innerHTML = "I don't know";
	  document.getElementById("chat").appendChild(newdiv);
          }
      }
  }
 else if(/foods?/i.test(msg))
 {
        if(/veg/i.test(msg) && !(/nonveg/i.test(msg)))
	{
	    for( i in alldata)
	    {if( alldata[i].type == "veg" )
	    newdiv.innerHTML += alldata[i].name+"  ";
	    document.getElementById("chat").appendChild(newdiv);   
	    }
	}
	else if(/nonveg/i.test(msg))
	{
	    for( i in alldata)
	    {if( alldata[i].type == "nonveg" )
	    newdiv.innerHTML += alldata[i].name+"  ";
	    document.getElementById("chat").appendChild(newdiv);
	    }
	}
	else if(/drink/i.test(msg))
	{
	    for( i in alldata)
	    {if( alldata[i].type == "drink" )
	    newdiv.innerHTML += alldata[i].name+"  ";
	    document.getElementById("chat").appendChild(newdiv);
	    }
	}
	else if(/dessert/i.test(msg))
	{
	    for( i in alldata)
	    {if( alldata[i].type == "desserts" )
	    newdiv.innerHTML += alldata[i].name+"  ";
	    document.getElementById("chat").appendChild(newdiv);    
	    }
	}
	
  }
  else if(/^\s*([-+]?)(\d+)(?:\s*([-+*\/])\s*((?:\s[-+])?\d+)\s*)+$/.test(msg))
  {
  newdiv.innerHTML = eval(msg);
  document.getElementById("chat").appendChild(newdiv);
  }
  else
  {
  newdiv.innerHTML ="I don't know. <br> Enter help for more info";
  document.getElementById("chat").appendChild(newdiv);
  }
focus ();
}

function display()
{
	let msg = document.getElementById("msg").value;
	let newdiv = document.createElement("DIV");
	newdiv.setAttribute("class","rightbox");
	newdiv.innerHTML = msg;
	document.getElementById("chat").appendChild(newdiv);
	focus();
	reply(msg);
}
</script>
<style>
body {font-family: Arial, Helvetica, sans-serif;
margin: 0;
background-color:#f2f0f0;
}
.container{
background-color:white; 
height:auto;
padding-top: 6px;
margin-bottom: 60px;
padding-bottom:60px;
}
.group
{
width:350px;
height:350px;
border: 4px solid black;
border-bottom: 2px solid black;
margin-left: auto;
margin-right: auto;
padding:3px;
margin-top:10px;
background-color: white;
overflow-x:scroll;
}
.box
{
width:356px;
height:50px;
border: 4px solid black;
border-top: 2px solid black;
margin-left: auto;
margin-right: auto;
background-color: white;
}
.leftbox{
width:200px;
height:auto;
margin-top:17px;
border: 3px solid red;
padding:3px;
float:left;
background-color: white;
}
.rightbox{
width:200px;
height:auto;
margin-top:17px;
border: 3px solid blue;
padding:3px;
float:right;
background-color: white;
}

footer {
  text-align: center;
  padding: 3px;
  color:white;
  background-color: gray;
}
header {
  text-align: center;
  padding: 3px;
  background-color:black;
  font-weight: bold;
  margin-top:0px;
  color:white;
}
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #2196F3;
  color: white;
}
.topnav .search-container {
  float: right;
}
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: green;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
#msg
{
width:77%;
height:44px;
}
#btn
{
background: lightblue;
width:18%;
height:44px;
}
</style>
</head>
<body >
	  <header>
          	<h2 style="text-align:center">FoodOrderManagement</h2>
          </header>
          <div class="topnav">
  <a href="/home">Home</a>
  <a href="/logout">Logout</a>
  <a class="active" href="/chatbot">Chatbot</a>
  <a href="/profile">Profile</a>
  <a href="/cart">Cart</a>
  <div class="search-container">
    <form action="/search" method="post">
      <input type="text" placeholder="Search.." name="search">
      <button  type="submit">Submit</button>
    </form>
  </div>
</div>
<h3 style="text-align:center">&#128373Welcome to Chatbot </h3>
  <div class="container"> 
       <h1 style="text-align:center">Chat bot</h1>
  	<div class="group" id="chat">
  	
</div>
<div class="box">
	<input type="text" id="msg" placeholder="Enter message" onfocus="this.value=''">
	<input type="button" id="btn" value="Sent" onclick="display()">
</div>
</div>
     <footer>
          	<p style="text-align:center" >"FooD is necessary"</p>
     <footer>
</body>
</html>
