<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
	if(true === {{value}})
alert("Wrong Username or password");
</script>
<style>
body {font-family: Arial, Helvetica, sans-serif;
margin: 0;
}
form {border: 3px solid #f1f1f1; }
footer {
  text-align: center;
  padding: 3px;
  color:white;
  background-color: gray;
}
header {
  text-align: center;
  padding: 2px;
  background-color:lightgray;
  font-weight: bold;
  margin-top:1px;
}
input[type=email], input[type=password] ,input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}
button:hover {
  opacity: 0.8;
}
.container {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
</style>
</head>
<body style = "text-align:center">
	  <header>
          	<h2>FoodOrderManagement</h2>
          </header>
    <h3>&#128373Employee Login</h3>
    <div class="container">
    <form action="/emplogin" method="post">
    <h3>Enter Employee Id</h3>
    <input type="text" placeholder="&#128104Enter employee Id" name="empid" required>
    <h3 >Enter Passward</h3>
    <input type="password" placeholder="&#128274Enter Password" name="password" required>
    <button type="submit">Login</button>
    </form>
    <a href="/login">
        <button type="button">User Login</button>
    </a>
    </div>
    <footer>
          	<p >"FooD is necessary"</p>
    <footer>
</body>
</html>

