<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
    let data = {{{json data}}};
    let comments = {{{json comments}}};
    let email = {{{json email}}};
    let i=0;
    function foodinfo()
    {
    document.getElementById('img').src = "/upload/"+data.img;	   
    document.getElementById('foodname').innerHTML = "<b>"+data.name+"</b>";
    document.getElementById('email').value = email;
    document.getElementById('price').innerHTML ="&#8377;"+ data.price;
    let newinput = document.createElement("INPUT");
       newinput.setAttribute("type", "hidden");
       newinput.setAttribute("name", "name");
       newinput.setAttribute("value",data.name);
       newinput.innerHTML = data.name;
       document.getElementById("cartdata").appendChild(newinput); 
    }
   function comment()
   {
    if(comments.length === 0)
    {
    document.getElementById('comments').innerHTML = "Empty";	   
    }
    else if( (i+1) == comments.length )
    {
    document.getElementById('comments').innerHTML = comments[i].username+":-"+comments[i].comment;
    i = 0;
    }
    else
    {
    document.getElementById('comments').innerHTML = comments[i].username+":-"+comments[i].comment;
    i++;
    }
   }  
   function usercomment()
   {
   if(! document.getElementById('comment').value.replace(/\s/g, '').length)
   {
   alert("Empty comment not allowed");
   }
   else if(! document.getElementById('username').value.replace(/\s/g, '').length)
   {
   alert("Please Enter your name");
   }
   else
   {
   let comment = document.getElementById('comment').value;
   let username = document.getElementById('username').value;
   let name = data.name;
   let commentdata = {username:username,name:name,comment:comment};
   const options = {
   method: 'POST',
   headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(commentdata)
    }
    fetch('/comment', options).then(
    (tempdata)=>{ 
    return tempdata.json();
    }).then((data)=> {
    comments = data;
    alert("Comment added successfully");
    document.getElementById('comment').value = "";
    document.getElementById('username').value = "";	    
    });
   }
  }
</script>
<style>
body {font-family: Arial, Helvetica, sans-serif;
 margin: 0;
 background-color:#f2f0f0;
}
.container{
 background-color:white; 
 height:auto;
 padding-top: 6px;
 margin-bottom: 60px;
 padding-bottom:60px;
}
.group
{
 width:50%;
 height:auto;
 border: 3px solid blue;
 margin: auto;
 background-color: white;
}
.custom  {
 background-color: #4CAF50;
 color: white;
 padding: 14px 20px;
 width: 200px;
 border: none;
 border-radius: 7px;
}
footer {
 text-align: center;
 padding: 3px;
 color:white;
 background-color: gray;
}
header {
 text-align: center;
 padding: 3px;
 background-color:black;
 font-weight: bold;
 margin-top:0px;
 color:white;
}
.topnav {
 overflow: hidden;
 background-color: #e9e9e9;
}
.topnav a {
 float: left;
 display: block;
 color: black;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}
.topnav a:hover {
 background-color: #ddd;
 color: black;
}
.topnav a.active {
 background-color: #2196F3;
 color: white;
}
.topnav .search-container {
 float: right;
}
.topnav input[type=text] {
 padding: 6px;
 margin-top: 8px;
 font-size: 17px;
 border: none;
}
.topnav .search-container button {
 float: right;
 padding: 6px;
 margin-top: 8px;
 margin-right: 16px;
 background: green;
 font-size: 17px;
 border: none;
 cursor: pointer;
}

.topnav .search-container button:hover {
 background: #ccc;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
  .group
  {
  width:350px;
  }
}
img.avatar {
 width: 60%;
 border-radius: 5%;
}
.imgcontainer {
 text-align: center;
 margin: 12px 0 12px 0;
}
textarea{
 width:90%;
 height:200px;
 border: 2px solid black;
 margin-bottom:10px;
 margin-top:10px;
}
input[type=button]
{
 height:40px;
 width:90%;
 margin-top:7px;
 border: 2px solid black;
}
#tag
{
 margin:17px;
 height:40px;
 width:89%;
 border:none;
 padding:auto;
}
#tag #username
{
 float:right;
 height:35px;
 border: 2px solid black;
 width:75%	
}
#tag #label
{                                                                      float:left;
 height:35px;
 padding:8px;
 font-weight: bold;
}
#comments
{
 text-align: justify;
 padding:3px;
 height:100px;
 width:80%;
 margin-top:7px;
 margin-left:auto;                                                     margin-right:auto;
 border: 2px solid black;
 overflow:scroll;
}
#next
{
 height:30px;
 width:50%;
 margin-top:7px;
 border: 2px solid black;
 background-color:yellow;
}
#quantity
{
 height:30px;
}
</style>
</head>
<body style = "text-align:center" onload="foodinfo()" >
  <header>
  <h2>FoodOrderManagement</h2>
  </header>
  <div class="topnav">
  <a class="active" href="/home">Home</a>
  <a href="/logout">Logout</a>
  <a href="/chatbot">Chatbot</a>
  <a href="/profile">Profile</a>
  <a href="/cart">Cart</a>
  <div class="search-container">
  <form action="/search" method="post">
  <input type="text" placeholder="Search.." name="search">
  <button  type="submit">Submit</button>
  </form>
  </div>
  </div>
  <h3>&#128373Welcome to Food Menu</h3>
  <div class="container"> 
  <h1>Food info</h1>
  <div class="group">
  <p id="foodname">Foodname</p>
  <div class="imgcontainer">
  <img src="/upload/logo.jpg" id="img"  alt="foodimg" class="avatar">
  <p id="price">Price</p>
  </div>
  <form id="cartdata" action="/addtocart" method="post">
  <label for="quantity">Qty:</label>
  <select id="quantity" name="quantity">
  <option value="1" selected >1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  </select>
  <input type="hidden" name="email" id="email">
  <button type="submit" class="custom">Add to cart</button>
  </form>
  <div id="comments"></div>
  <input type="button" id="next" value="Next Comment" onclick="comment()" >
  <div id="tag">
  <label id="label" for=username">Name:-</label>
  <input type="text" id="username" name="username" placeholder = "  Enter username for comment" >
  </div>
  <input type="button" value="Add Comment" onclick="return usercomment()" >
  <textarea maxlength="50" id="comment" name="comment" placeholder ="Enter text here (max 50 character)..."></textarea>
  </div>
  </div>
  <footer>
          	<p>"FooD is necessary"</p>
  <footer>
</body>
</html>
