<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
let data = {{{json requests}}}; 
let _id = null;
let orderstatus = null;
let i = 0;

function next()
{      
	if( data.length === 0)
	{
	document.getElementById('group').innerHTML ="<h1>"+"No new order request"+"</h1>"; 
	}
	else 
	{
	foodrequest(data[i].name,data[i].username,data[i].quantity,data[i].address,data[i].orderstatus);
		_id = data[i]._id;
		orderstatus = data[i].orderstatus;
		if(data.length -1 === i )
		{  i=0; }
		else
		{ i++; }
	 }
}

function display()
{
 let id1 =  data.find((ele) =>{ return ele._id === _id ; })._id;
 let status1 = data.find((ele) =>{ return ele.orderstatus === orderstatus ; }).orderstatus;

  if(( _id === id1) && (orderstatus === status1))
  {
  return ;
  }
  else 
  {
  alert("food status changed");
  i=0;
  next();
  }
return ; 
}

function getdata()                                                    {       
	next();
        setInterval(function(){                                               fetch('/requests').then((tempdata)=>{
        return tempdata.json();                                               }).then((tempdata)=> {
        data = JSON.parse(tempdata) ;                                         display();                                                            });},10000);                                                  }


function newstatus(newstatus)
{
if(_id === null && orderstatus === null)
{
 alert('No new order');
}
else
{
document.getElementById("_id").value = _id;
document.getElementById("orderstatus").value = newstatus.value;
document.getElementById("newstatus").submit();
}
}

function foodrequest(foodname,username,quantity,address,orderstatus)
{
document.getElementById('foodname').innerHTML = "Food Name :- "+foodname;
document.getElementById('username').innerHTML = "Username :- "+username;
document.getElementById('quantity').innerHTML = "Quantity :- "+quantity;
document.getElementById('address').innerHTML = "Shipping Address :- "+address;
document.getElementById('status').innerHTML = "Status :- "+orderstatus;
}

</script>
<style>
body {font-family: Arial, Helvetica, sans-serif;
margin: 0;
background-color:#f2f0f0;
}
.container{
background-color:white; 
height:auto;
padding-top: 6px;
margin-bottom: 60px;
padding-bottom:60px;
}
.group
{
width:60%;
height:auto;
border: 3px solid blue;
margin: auto;
background-color: white;
overflow-wrap: break-word;
}
footer {
  text-align: center;
  padding: 3px;
  color:white;
  background-color: gray;
}
header {
  text-align: center;
  padding: 3px;
  background-color:lightgray;
  font-weight: bold;
  margin-top:0px;
  color:black;
}
input[type=button]
{
	height:40px;
	width:60%;
	margin-top:7px;
	border: 2px solid black;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

@media screen and (max-width: 600px) {
  .topnav a{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  input[type=button]
  {
  	width:350px;
  }
  .group
  {
  	width:350px;
  }
}

</style>
</head>
<body style = "text-align:center" onload="getdata()">
	  <header>
          	<h2>FoodOrderManagement</h2>
          </header>
          <div class="topnav">
  <a class="active" href="/panel">Main panel</a>
  <a href="/emplogout">Logout</a>
  <a href="/admin">Admin</a>
  <a href="/orderhistory">Order history</a>
  </div>
<h3>&#128373Food Order panel</h3>
  <div class="container"> 
       <h1>Food info</h1>
  	<div class="group" id="group">
  	<p id="foodname"></p>
      <p id="username"></p>
      <p id="quantity" ></p>
      <p id="address" ></p>
      <p id="status" ></p>
</div>
    
    <input type="button" id="next"  style="background-color:lightgreen;" value="Next" name="next" onclick="next()">
    <form action="/newstatus" method="post" id="newstatus">
	    <input type="hidden" name="_id" id="_id" >  
	    <input type="hidden" name="orderstatus" id="orderstatus" >
    </form>
 	<input type="button" id="packed"  style="background-color:lightyellow" value="packed" name="packed" onclick="newstatus(this)">   
	<input type="button" id="outofstock" style="background-color:red" value="Outofstock" name="outofstock" onclick="newstatus(this)">
 	<input type="button" id="delevered" style="background-color:lightblue" value="delevered" name="delevered" onclick="newstatus(this)">
    	</div>
    <footer>
          	<p >"FooD is necessary"</p>
     <footer>
</body>
</html>
