<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
let data = {{{json data}}}; 
let userid = {{{json userid}}};
function userdata()
{
document.getElementById('username').innerHTML = "Username :- "+userid.username;
document.getElementById('email').innerHTML = "Email :- "+userid.email;
userhistory();
}
function userhistory()
{
	for( let i=0 ; i<data.length; i++ )
	{
	var para1 = document.createElement("p");
	para1.innerHTML = "Food Name :- "+data[i].name;
	var para2 = document.createElement("p");
	para2.innerHTML = "Food type :- "+data[i].type;
	var para3 = document.createElement("p");
	para3.innerHTML = "Price (Per unit) :- "+data[i].price;
	var para4 = document.createElement("p");
	para4.innerHTML = "Shipping address :- "+data[i].address;
	var para5 = document.createElement("p");
	para5.innerHTML = "Quantity :- "+data[i].quantity;
	var para6 = document.createElement("p");
	para6.innerHTML = "Status :- "+data[i].orderstatus;
	var para7 = document.createElement("p");
	para7.innerHTML = "Order date :- "+ new Date(data[i].date);
	var para8 = document.createElement("p");
	para8.innerHTML = "Total price :- "+parseFloat(data[i].price)*parseFloat(data[i].quantity)+"<br>"+"<br>"+"<br>";
	document.getElementById('group').appendChild(para1); 
	document.getElementById('group').appendChild(para2); 
	document.getElementById('group').appendChild(para3); 
	document.getElementById('group').appendChild(para4); 
	document.getElementById('group').appendChild(para5); 
	document.getElementById('group').appendChild(para6); 
	document.getElementById('group').appendChild(para7); 
	document.getElementById('group').appendChild(para8); 
	}
}
</script>
<style>
body {font-family: Arial, Helvetica, sans-serif;
margin: 0;
background-color:#f2f0f0;
}
.container{
background-color:white; 
height:auto;
padding-top: 6px;
margin-bottom: 60px;
padding-bottom:60px;
overflow-wrap: break-word;
}
.group
{
width:60%;
height:auto;
border: 3px solid blue;
margin-left: auto;
margin-right: auto;
margin-top:10px;
background-color: white;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #2196F3;
  color: white;
}
.topnav .search-container {
  float: right;
}
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: green;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
  .group
{
	width:350px;
}
}
footer {                                                                text-align: center;                                                   padding: 3px;                                                         color:white;
  background-color: gray;
}                                                                     header {
  text-align: center;
  padding: 3px;                                                         background-color:black;
  font-weight: bold;
  margin-top:0px;                                                       color:white;
}

</style>
</head>
<body style = "text-align:center" onload="userdata()">
	  <header>
          	<h2>FoodOrderManagement</h2>
          </header>
          <div class="topnav">
  <a href="/home">Home</a>
  <a href="/logout">Logout</a>
  <a href="/chatbot">Chatbot</a>
  <a class="active" href="/profile">Profile</a>
  <a href="/cart">Cart</a>
  <div class="search-container">
    <form action="/search" method="post">
      <input type="text" placeholder="Search.." name="search">
      <button  type="submit">Submit</button>
    </form>
  </div>
</div>
<h3>&#128373Welcome to User profile</h3>
  <div class="container"> 
       <h1 id="username">User name</h1>
       <h3 id="email">Email</h3>
  	<div class="group" id="group">
  	<h4>Order history</h4>
     
</div>


    </div>
    
    <footer>
          	<p >"FooD is necessary"</p>
     <footer>
</body>
</html>
