<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
    let data = {{{json data}}};
    function  result()
    {
    if(data.length === 0) /* data.length === 0 for mulidata */
    {
    document.getElementById('group').innerHTML = "<h1>"+"No Search result found"+"</h1>";
    return;
    }
    for(let i = 0;i<data.length ;i++)  /*for loop for muli result */
    {
    let newDiv1 = document.createElement("div");
    let para1 = document. createElement("p");
    let name = document.createTextNode(data[i].name);
    let newDiv2 = document.createElement("div");
    newDiv2.setAttribute("class","imgcontainer");
    let img = document.createElement("IMG");
    img.setAttribute("class","avatar");
    img.setAttribute("src","/upload/"+data[i].img);
    img.setAttribute( "alt","Foodimg" );
    let para2 = document. createElement("p");
    para2.innerHTML = "&#8377; "+data[i].price;
    let newform = document.createElement( "form" );
    newform.setAttribute("action","/foodinfo");
    newform.setAttribute("method","post");
    let newinput = document.createElement("INPUT");
    newinput.setAttribute("type", "hidden");
    newinput.setAttribute("value", data[i].name);
    newinput.setAttribute("name", "name");
    let btn = document.createElement("BUTTON");
    btn.setAttribute("type","submit");
    btn.innerHTML = "View";
    document.getElementById('group').appendChild(newDiv1);
    newDiv1.appendChild(para1);
    para1.appendChild(name);
    newDiv1.appendChild(newDiv2);
    newDiv2.appendChild(img);
    newDiv1.appendChild(para2);
    newDiv1.appendChild(newform);
    newform.appendChild(newinput);
    newform.appendChild(btn);
    }
    }
</script>
<style>
body {font-family: Arial, Helvetica, sans-serif;
margin: 0;
background-color:#f2f0f0;
}
.container{
background-color:white; 
height:auto;
padding-top: 6px;
margin-bottom: 60px;
padding-bottom:60px;
}
.group
{
width:50%;
height:310px;
border: 3px solid blue;
margin: auto;
background-color: white;
overflow-x:scroll;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  width: 100px;
}
footer {
  text-align: center;
  padding: 3px;
  color:white;
  background-color: gray;
}
header {
  text-align: center;
  padding: 3px;
  background-color:black;
  font-weight: bold;
  margin-top:0px;
  color:white;
}
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #2196F3;
  color: white;
}
.topnav .search-container {
  float: right;
}
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: green;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
  .group
  {
  width:350px;
  }
}
img.avatar {
  width: 100px;
  border-radius: 5%;
}
.imgcontainer {
  text-align: center;
  margin: 12px 0 12px 0;
}
</style>
</head>
<body style = "text-align:center" onload="result()">
	  <header>
          	<h2>FoodOrderManagement</h2>
          </header>
          <div class="topnav">
  <a class="active" href="/home">Home</a>
  <a href="/logout">Logout</a>
  <a href="/chatbot">Chatbot</a>
  <a href="/profile">Profile</a>
  <div class="search-container">
    <form action="/search" method="post">
      <input type="text" placeholder="Search.." name="search">
      <button  type="submit">Submit</button>
    </form>
  </div>
</div>
<h3>&#128373Welcome to Food Menu</h3>
  <div class="container"> 
       <h1>Search result</h1>
  	<div class="group" id="group">
</div>
    </div>
    <footer>
          	<p >"FooD is necessary"</p>
     <footer>
</body>
</html>
