<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
	if(true === {{value1}})
alert("Email already exists");
	if(true === {{value2}})
alert("Wrong email address");
	function error()
	{
	psw1 = document.getElementById('password').value
	psw2 = document.getElementById('repassword').value
	if(psw1 === psw2)
	{
        return true;
	}
	else
	{
	document.getElementById('error').innerHTML = "Password not match";		
	return false;
	}
	}
</script>
<style>
body {font-family: Arial, Helvetica, sans-serif;
margin: 0;
background-color:#f2f0f0;
}
form {border:3px solid #f1f1f1; background-color:white;}
footer {
  text-align: center;
  padding: 3px;
  color:white;
  background-color: gray;
}
header {
  text-align: center;
  padding: 2px;
  background-color:black;
  color:white;
  font-weight: bold;
}
input[type=email], input[type=password] ,input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}
button:hover {
  opacity: 0.8;
}
.container {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
input:focus
{
  border: 3px solid yellow;
}
</style>
</head>
<body style = "text-align:center">
	  <header>
          	<h2>FoodOrderManagement</h2>
          </header>
<h3>&#128373User Signup</h3>
   <div class="container">
   <form action="/signup" method="post">
   <h3>Enter User name</h3>
   <input type="text" placeholder="&#128104Enter User name" name="username" required>
   <h3>Enter Email address</h3>
   <input type="email" placeholder="&#128231Enter Email address" name="email" required>
   <h3>Enter Passward</h3>
   <input type="password" id="password"  placeholder="&#128274Enter Password" name="password" required>
   <h3>ReEnter Passward</h3>
   <input type="password" id="repassword" placeholder="&#128274ReEnter Password" name="repassword" required>
   <p style="color:red;" id="error" ></p>
   <button type="submit" onclick="return error()" >Signup</button>
   </form>
   <a href="/login">
        <button type="button">Login</button>
   </a>
   </div>
   <footer>
          	<p>"FooD is necessary"</p>
   <footer>
</body>
</html>

